.tabs-wrapper {
  background-color: $lightgrey;
  min-height: 100px;
  & ul {
    & li.tab {
      color: $primary;
      padding: 5px;
      cursor: pointer;
      font-size: 1.2rem;
      position: relative;

      &::after {
        @extend .fancy-underline;
        width: 0;
        content: "";
        position: absolute;
      }

      &:not(:first-child) {
        margin-left: 32px;
      }

      &:hover,
      &.active {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
